//
// user.scss
// Use this to write your custom SCSS
//

// NAVBAR

.navbar-light.bg-cream {
  backgorund-color: #FFF5EE;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.5);
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255,40,133,0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

// BUTTONS

.btn {
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 12px;
  text-transform: uppercase;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.btn-primary {
  &.glow {
    box-shadow: 0px 0px 40px 0px rgba(255,40,133,0.5) !important;
  }
}

.btn-primary-soft {
  background-color: rgba(255, 40, 133, 0.1);
  color: #FF288F;

  &:hover {
    background-color: rgba(255, 40, 133, 0.15);
    color: #FF288F;
  }
}

.badge.bg-primary-soft {
  background-color: rgba(255, 40, 133, 0.1);
  color: #FF288F;
}

// TYPOGRAPHY

.text-muted {
  color: #998F94 !important;
}

.text-gray-700 {
  color: #90507E !important;
}

.text-gray-700-muted {
  color: rgba(144,80,126,0.6) !important;
}

.text-light {
  color: #FFFAF7 !important;
}

.text-primary-2 {
  color: #FFF5EE;
}

.text-primary.underline {
  border-bottom: 3px solid rgba(255, 40, 133, 0.2);
}

.text-success.underline {
  border-bottom: 3px solid rgba(66, 186, 150, 0.2);
}

.text-primary-desat {
  color: rgba(255, 40, 133, 0.4) !important;
}

// FORMS
.form-control:focus {
  border-color: #FF288F;
}

// BACKGROUNDS

.bg-gradient-light-white {
  background-image: linear-gradient(to bottom, #FFFAF7 0%, #FFFFFF 100%);
}

.bg-light {
  background-color: #FFFAF7 !important;
}

.flickity-prev-next-button {
  background-color: #FFE5EB;
  color: #FF288F;

  &:hover {
    background-color: #FFE5EB;
    color: #FF288F;
  }
}

hr.hr-primary-soft {
  color: #FFE2E4;
}

.border-soft {
  border-color: #FFE2E4 !important;
}


// RESPONSIVE

// MOBILE
@media (max-width: 480px) {
  .hero-image-mobile {
    width: 80%;
    display: block;
    margin: 0 auto;
  }
}
